#mainNav{
background-color: rgb(169, 169, 169) !important; /* Overriding Bootstarp backgorund color */
}

a {
    text-decoration-line: none;
}

/* CSS for webpage cover */
#indexCoverContainer{
    background-image: url(img/gradienta-faXXUrNbH1c-unsplash.jpg);
    background-repeat: none;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

/* Increase margin for desktop computer */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    li {
        margin: 20px 0px;
    }
  }

  .carousel-item>img{
      filter:brightness(50%); /* Reduce birghtness to contrast with white text color */
      object-fit:cover;
      margin:auto;
      height: 500px;
  }
 